<%- include('partials/header.ejs') %>

<body>
    <div class="container_fluid" id="error_image_container">
        <h1 class="p-4" style="visibility: hidden">full moon alpha</h1>

        <h1 class="text-center" id="begone"><a href="/">You are not welcome here. Go back!</a></h1>
            
    </div>

    <%- include('partials/footer.ejs') %>
</body>
