<%- include('partials/header.ejs')  %> 

    <body>
        <div class='container_fluid' id="landing_image_container">
            <h1 class='p-4'>full moon alpha</h1>
            <nav>
                <ul>
                    <li><a href="/legends">legends</a></li>
                    <li><a href="/images">images</a></li>
                    <li><a href="/entertainment">entertainment</a></li>
                    <li><a href="/devs">devs</a></li>
                </ul>
            </nav>
            <div class="credits">
                Image by <a href="https://pixabay.com/users/mysticsartdesign-322497/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=395953" target='_blank'>
                    Mystic Art Design</a> from 
                    <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=395953" target='_blank'>
                    Pixabay</a>
            </div>
        </div>
        
<%- include('partials/footer.ejs')  %> 







