<%- include('partials/header.ejs') %>

<body id="imagesPage">
  <%- include('partials/navbar.ejs') %>

  <h1 class="text-center text-white">I am the Temporary Images page</h1>
  <!-- Photo Grid -->
  <% let limit = Math.floor(images.length/5)%> 
  <% let counter = 0 %>
  <div class="row">
    <% for( let index = 0; index < limit; index++ ) { %>
      <div class="col">
        <% for( let j = 0; j < 3; j++ ) { %> 
          <% let source = images[j+counter] %>
          <% if (source) { %>
            <img src="<%= source %>" alt="werewolf" />
          <% } %>
        <% } %>
        <% counter += 3 %>
      </div>
    <% } %>
  </div>
</body>

<!-- <form action="/uploadImage" enctype="multipart/form-data" method='POST'>
<div class="input-group mb-3">
<input name='test' type="file" class="form-control" id="inputGroupFile02">
<label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>
<button class="btn btn-primary">Submit</button>
</form> -->

<%- include('partials/footer.ejs') %>
