<%- include('partials/header.ejs') %>

<body id="imagesPage">
  <%- include('partials/navbar.ejs') %>

  <h1 class="text-center">I am the Temporary Images page</h1>
  <!-- Photo Grid -->
  <div class="row">
    <div class="col">
      <img src="assets/images/delete/laborDayZombie.jpg" style="width: 100%" />
      <!-- <img src="assets/images/delete/memorialZombie.jpg" style="width: 100%" />
      <img src="assets/images/delete/scaryWerewolf.jpg" style="width: 100%" />
      <img
        src="assets/images/delete/TD02A4MQU-UD192R7A9-b50cb345132a-512.jpg"
        style="width: 100%"
      />
      <img src="assets/images/delete/the-dark-angel.jpg" style="width: 100%" />
      <img src="assets/images/delete/werewolf.jpg" style="width: 100%" /> -->
    </div>
    <div class="col">
      <img src="assets/images/delete/memorialZombie.jpg" style="width: 100%" />
      <!-- <img src="assets/images/delete/scaryWerewolf.jpg" style="width: 100%" />
      <img
        src="assets/images/delete/TD02A4MQU-UD192R7A9-b50cb345132a-512.jpg"
        style="width: 100%"
      />
      <img src="assets/images/delete/the-dark-angel.jpg" style="width: 100%" />
      <img src="assets/images/delete/werewolf.jpg" style="width: 100%" /> -->
    </div>
    <div class="col">
      <img src="assets/images/delete/scaryWerewolf.jpg" style="width: 100%" />
      <!-- <img
        src="assets/images/delete/TD02A4MQU-UD192R7A9-b50cb345132a-512.jpg"
        style="width: 100%"
      />
      <img src="assets/images/delete/the-dark-angel.jpg" style="width: 100%" />
      <img src="assets/images/delete/werewolf.jpg" style="width: 100%" />
      <img src="assets/images/delete/laborDayZombie.jpg" style="width: 100%" />
      <img src="assets/images/delete/memorialZombie.jpg" style="width: 100%" /> -->
    </div>
    <div class="col">
      <img
        src="assets/images/delete/TD02A4MQU-UD192R7A9-b50cb345132a-512.jpg"
        style="width: 100%"
      />
      <!-- <img src="assets/images/delete/the-dark-angel.jpg" style="width: 100%" />
      <img src="assets/images/delete/werewolf.jpg" style="width: 100%" />
      <img src="assets/images/delete/laborDayZombie.jpg" style="width: 100%" /> -->
    </div>
    <div class="col">
      <img
        src="assets/images/delete/TD02A4MQU-UD192R7A9-b50cb345132a-512.jpg"
        style="width: 100%"
      />
      <!-- <img src="assets/images/delete/the-dark-angel.jpg" style="width: 100%" />
      <img src="assets/images/delete/werewolf.jpg" style="width: 100%" />
      <img src="assets/images/delete/laborDayZombie.jpg" style="width: 100%" /> -->
    </div>
  </div>
</body>

<!-- <form action="/uploadImage" enctype="multipart/form-data" method='POST'>
<div class="input-group mb-3">
<input name='test' type="file" class="form-control" id="inputGroupFile02">
<label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>
<button class="btn btn-primary">Submit</button>
</form> -->

<%- include('partials/footer.ejs') %>
