<%- include('partials/header.ejs') %>

<body id="legendsPage">
  <div class="container_fluid" id="legends_image_container">
    <p id="legends_maps_link" class="px-4">
      <a href="/images">(click here for maps)</a>
    </p>
    <h1 class="px-4">Legends</h1>

    <div id="legends_text">
      <h2>Lycanthropy</h2>
      <p>
        According to the The Editors of Encyclopaedia Britannica, lycanthopy is
        derived from Greek <em>lykos</em> (wolf) and <em>anthropos</em> (man),
        and pertains to a mental disorder in which the patient believes that he
        is a wolf or some other nonhuman animal.
      </p>
      <p>As Britannica futher explains:</p>
      <p>
        "Undoubtedly stimulated by the once widespread superstition that
        lycanthropy is a supernatural condition in which men actually assume the
        physical form of werewolves or other animals, the delusion has been most
        likely to occur among people who believe in reincarnation and the
        transmigration of souls. Usually, a person is deemed to take the form of
        the most dangerous beast of prey of the region: the wolf or bear in
        Europe and northern Asia, the hyena or leopard in Africa, and the tiger
        in India, China, Japan, and elsewhere in Asia; but other animals are
        mentioned too.
      </p>
      <p>
        Both the superstition and the psychiatric disorder are linked with
        belief in animal guardian spirits, vampires, totemism, witches, and
        werewolves. The folklore, fairy tales, and legends of many nations and
        peoples show evidence of lycanthropic belief."
        <sup><a href="#britannica">1</a></sup>
      </p>
      <p>
        When talking about those with lycanthropy, they are referred to
        lycanthropes and their appearances can come in many shapes. The most
        commonly known is the werewolf.
      </p>

      <p>
        It's unclear exactly when and where the werewolf legend originated. Some
        scholars believe the werewolf made its debut in
        <em>The Epic of Gilgamesh</em>, the oldest known Western prose, when
        Gilgamesh jilted a potential lover because she had turned her previous
        mate into a wolf.
      </p>
      <p>
        Werewolves made another early appearance in Greek mythology with the
        Legend of Lycaon. According to the legend, Lycaon, the son of Pelasgus,
        angered the god Zeus when he served him a meal made from the remains of
        a sacrificed boy. As punishment, the enraged Zeus turned Lycaon and his
        sons into wolves. Werewolves also emerged in early Nordic folklore.
      </p>
      <p>
        <em>The Saga of the Volsungs</em> tells the story of a father and son
        who discovered wolf pelts that had the power to turn people into wolves
        for ten days. The father-son duo donned the pelts, transformed into
        wolves and went on a killing rampage in the forest. Their rampage ended
        when the father attacked his son, causing a lethal wound. The son only
        survived because a kind raven gave the father a leaf with healing
        powers.
      </p>
      <p>
        All three of the above historical beginnings have been documented
        through the website at HISTORY.com
        <sup><a href="#historyCom">2</a></sup>
      </p>
      
      <div id="citations">
        CITATIONS:
        <p>
          <span id="britannica">
            1. Britannica, T. Editors of Encyclopaedia (2010, August 19).
            lycanthropy. Encyclopedia Britannica.
            https://www.britannica.com/science/lycanthropy
          </span>
          <span id="historyCom">
            2. Editors, H. (2021, October 28). Werewolf Legends. Retrieved from
            HISTORY.com:
            https://www.history.com/topics/folklore/history-of-the-werewolf-legend
          </span>
          <span id="3">
            3. Editors, H. (2021, October 28). Werewolf Legends. Retrieved from
            HISTORY.com:
            https://www.history.com/topics/folklore/history-of-the-werewolf-legend
          </span>
          <span id="4">
            4. Editors, H. (2021, October 28). Werewolf Legends. Retrieved from
            HISTORY.com:
            https://www.history.com/topics/folklore/history-of-the-werewolf-legend
          </span>
        </p>
      </div>
    </div>

    <nav>
      <ul>
        <li><a href="/home">home</a></li>
        <li><a href="/images">images</a></li>
        <li><a href="/entertainment">entertainment</a></li>
        <li><a href="/devs">devs</a></li>
      </ul>
    </nav>
  </div>

  <%- include('partials/footer.ejs') %>
</body>
