<%- include('partials/header.ejs') %>

<body id="legendsPage">
  <div class="container_fluid" id="legends_image_container">
    <p id="legends_maps_link" class="px-4">
      <a href="/images">(click here for maps)</a>
    </p>
    <h1 class="px-4">Legends</h1>

    <div id="legends_text">
      <h2>Lycanthropy</h2>

      <!-- row 1 -->
      <div class="row">
        <div class="col-lg-5">
          <img src="assets/images/werewolfFiller.jpg" alt="werewolf" />
        </div>
        <div class="col-lg-7">
          <p>
            According to the The Editors of Encyclopaedia Britannica, lycanthopy
            is derived from Greek <em>lykos</em> (wolf) and
            <em>anthropos</em> (man), and pertains to a mental disorder in which
            the patient believes that he is a wolf or some other nonhuman
            animal.
          </p>
          <p>As Britannica futher explains:</p>
          <p>
            "Undoubtedly stimulated by the once widespread superstition that
            lycanthropy is a supernatural condition in which men actually assume
            the physical form of werewolves or other animals, the delusion has
            been most likely to occur among people who believe in reincarnation
            and the transmigration of souls. Usually, a person is deemed to take
            the form of the most dangerous beast of prey of the region: the wolf
            or bear in Europe and northern Asia, the hyena or leopard in Africa,
            and the tiger in India, China, Japan, and elsewhere in Asia; but
            other animals are mentioned too.
          </p>
          <p>
            Both the superstition and the psychiatric disorder are linked with
            belief in animal guardian spirits, vampires, totemism, witches, and
            werewolves. The folklore, fairy tales, and legends of many nations
            and peoples show evidence of lycanthropic belief."
            <sup><a href="#britannica">1</a></sup>
          </p>
        </div>
      </div>

      <!-- row 2 -->
      <div class="row mt-2">
        <div class="col">
          <p>
            When talking about those with lycanthropy, they are referred to
            lycanthropes and their appearances can come in many shapes. The most
            commonly known is the werewolf.
          </p>

          <p>
            It's unclear exactly when and where the werewolf legend originated.
            Some scholars believe the werewolf made its debut in
            <em>The Epic of Gilgamesh</em>, the oldest known Western prose, when
            Gilgamesh jilted a potential lover because she had turned her
            previous mate into a wolf.
          </p>
        </div>
      </div>

      <!-- row 3 -->
      <div class="row">
        <div class="col-lg-7">
          <p>
            Werewolves made another early appearance in Greek mythology with the
            Legend of Lycaon. According to the legend, Lycaon, the son of
            Pelasgus, angered the god Zeus when he served him a meal made from
            the remains of a sacrificed boy. As punishment, the enraged Zeus
            turned Lycaon and his sons into wolves. Werewolves also emerged in
            early Nordic folklore.
          </p>
          <p>
            <em>The Saga of the Volsungs</em> tells the story of a father and
            son who discovered wolf pelts that had the power to turn people into
            wolves for ten days. The father-son duo donned the pelts,
            transformed into wolves and went on a killing rampage in the forest.
            Their rampage ended when the father attacked his son, causing a
            lethal wound. The son only survived because a kind raven gave the
            father a leaf with healing powers.
          </p>
          <p>
            All three of the above historical beginnings have been documented
            through the website at HISTORY.com
            <sup><a href="#historyCom">2</a></sup>
          </p>
          <p>
            There have been many "real" world cases of werewolves throughout
            time. Below are 12 "real life" cases as listed on
            historycollection.com <sup><a href="#historyColl">3</a></sup>
          </p>
        </div>
        <div class="col-lg-5">
          <img
            src="assets/images/Maurice-Sand-Paris-1858-Les-Lupins-Wikimedia-Commons.png"
            alt="werewolf"
          />
          <p class="img_copy">
            Maurice Sand, "Les Lupins", Paris 1858. Wikimedia Commons
          </p>
        </div>
      </div>

      <!-- row 4 -->
      <div class="row mt-5">
        <div class="col-lg-5">
          <img src="assets/images/queen-werewolf.webp" alt="werewolf" />
        </div>
        <div class="col-lg-7">
          <h2>The Gandillon Werewolves</h2>
          <p>
            "The Gandillon Werewolves were a family who, in the late 16th
            century, were accused and executed for being werewolves. In 1598, a
            young girl and her brother were attacked by a wolf. Benoist Bidel,
            aged about 15, had climbed a tree to pluck some fruit and, whilst
            aloft, saw a wolf dart from some bushes and seize his sister.
            Leaping down to protect her, Benoist drew his knife. The wolf rushed
            at him and drove the knife into his neck with a savage blow of the
            paw. Fortunately, a crowd had heard the commotion, and chased the
            wolf away."
          </p>
          <p>
            "The girl died at the scene, and Benoist was taken back to his
            father's cabin, where he died of his injuries a few days later.
            Before he died Benoist claimed that the wolf that attacked him had
            hands, like a man, covered with hair. The wolf had been maimed by
            the crowd, and so suspicion fell upon one Perrenette Gandillon, who
            exhibited a wound in precisely the same place as the wolf had been
            injured. Unfortunately for her, one of the crowd that injured the
            wolf was none other than Henri Boguet (1550-1619), a notoriously
            merciless witch hunter."
          </p>
        </div>
      </div>

      <!-- row 5 -->
      <div class="row mt-5">
        <div class="col-lg-7">
          <h2>Peter Stubbe</h2>
          <p>
            "Peter Stubbe, executed at Bedburg in 1590, is perhaps history's
            most notorious werewolf. Unusually, his tale is told in a
            contemporary pamphlet which was translated from Dutch into English
            in the year of his execution. According to the pamphlet, 'Stubbe
            from his youth was greatly inclined to euill'. He made a pact with
            the devil, but had no interest in worldly prosperity or power, but
            'only requested that at his pleasure he might woork his malice on
            men, women, and children, in the shape of some beast'. Satan gave
            him a girdle which transformed him into a wolf whenever desired."
          </p>
          <p>
            "Stubbe immediately got to work. Anyone who insulted or displeased
            him could be sure of their death at the jaws of a ravening wolf, for
            he would 'neuer rest till he had plucked out their throates and
            teare their ioyntes a sunder'. Stubbe acquired a taste for blood,
            and progressed onto indiscriminate murder. Cruelly, he would walk
            the streets of Bedburg courteously saluting the parents and
            relatives of his victims. He would also identify victims in this
            way: he would await anyone who caught his eye in the fields and
            woods that surrounded Bedburg, and attack them in his wolf shape."
          </p>
        </div>
        <div class="col-lg-5">
          <img src="assets/images/Dore_ridinghood.jpeg" alt="werewolf" />
          <p class="img_copy">
            By Gustave Dore - Les Contes de Perrault, Public Domain, https://commons.wikimedia.org/w/index.php?curid=567608
          </p>
        </div>
      </div>

      <!-- row 6 -->
      <div class="row mt-5">
        <div class="col-lg-5">
          <img
            src="assets/images/Werewolf-by-Lucas-Cranach-the-Elder-Germany-c.-1512-Wikimedia-Commons.png"
            alt=""
          />
          <p class="img_copy">
            Woodcut of a werewolf by Lucas Cranach the Elder, Germany c.1512.
            Wikimedia Commons
          </p>
        </div>
        <div class="col-lg-7">
          <h2>Jacques Roulet</h2>
          <p>
            "Jacques Roulet was convicted of lycanthropy in Angers, Western
            France, in 1598. One day, an archer of the Provost's company and
            some peasants happened upon the nude and hideously mutilated body of
            a 15-year-old boy. The blood-soaked limbs were seen still to be
            palpitating, and so it was deduced that this was a fresh kill. As
            the men approached further, two wolves were startled and seen to
            bound away into nearby bushes. Since they were armed and numerous,
            the group decided to give chase through the thick undergrowth.
            Nevertheless, they were not prepared for what happened next."
          </p>
          <p>
            "A tall and gaunt figure of a man, with long, straggly hair and a
            great beard, half-dressed in torn rags, strode forth to meet them.
            His hands were bloody, and beneath his fingernails were lumps of
            human gore. So revolting a sight was the man that the group could
            scarcely muster the courage to seize and bind him, but they
            eventually succeeded in dragging him to the local town, where he was
            presented before the magistrate. It transpired that the man was
            Jacques Roulet, a vagabond who traveled begging from town to town
            with his brother, Jean, and cousin, Julien."
          </p>
          <p>
            "Perhaps Jacques was just in the wrong place at the wrong time and,
            doubtless, as in nigh-on, all werewolf and witchcraft cases were
            tortured to extract his confession. The inquisitors could simply
            refer to records of deaths in the area, and force him to admit to
            the crimes. It is noteworthy, though, that the Parliament decided
            that he was mad rather than blaming his confession on the terrible
            torture he suffered, which is typical of attitudes towards torture
            in 16th-century Europe. It has even been speculated that the
            mysterious unguent was a hallucinogen, leading to a series of wild
            delusions."
          </p>
        </div>
      </div>

      <!-- row 7 -->
      <div class="row mt-5">
        <div class="col-lg-7">
          <h2>Gilles Garnier</h2>
          <p>
            "Gilles Garnier, 'the Hermit of Dole', was convicted of lycanthropy
            and executed at Dole, Eastern France, in 1573. Our source for his
            life and crimes is another contemporary pamphlet, printed at Sens in
            1574. Taking the form of a wolf, in 1572 Garnier first attacked a
            10-year-old girl in a vineyard near Dole, and dragged her into the
            adjoining Bois de la Serre. There he stripped her naked and ate the
            flesh from her thighs and arms. He then removed some more of her
            flesh and carried it to his wife, Apolline, to eat at their shared
            hermitage."
          </p>
          <p>
            "Disgusted by the remains of half-eaten children in the district,
            the Parliament of Franche-Comté issued a decree in 1573 which
            demanded that werewolves be hunted down by locals and brought to
            trial. However, it was not these huntsmen who caught Garnier but a
            group of workers who incidentally came across the hermit crouched
            over a dead child one night after returning from work. They
            initially thought the figure in the shadows was a werewolf, but as
            the light from their torches illuminated it, they identified
            Garnier. Acting quickly, the men caught Garnier and took him to the
            magistrates at Dole."
          </p>
          <p>
            "Garnier was, of course, tortured to extract a confession. He
            explained that he had spent much of his life as a hermit in the St
            Bonnot woods. He married in 1572, and fathered children, but
            struggled with the new task of feeding more than one mouth.
            Desperately foraging one night in the woods, a specter appeared to
            him and offered him an unguent that could turn him into a wolf,
            allowing him to hunt more effectively. He confessed to murdering 4
            children, supported by the testimony of over 50 witnesses, and was
            burned alive at the stake."
          </p>
          <p>
            "He married in 1572, and fathered children, but struggled with the
            new task of feeding more than one mouth. Desperately foraging one
            night in the woods, a specter appeared to him and offered him an
            unguent that could turn him into a wolf, allowing him to hunt more
            effectively. He confessed to murdering 4 children, supported by the
            testimony of over 50 witnesses, and was burned alive at the stake."
          </p>
        </div>
        <div class="col-lg-5">
          <img
            src="assets/images/Werewolf-18-century-woodcut-copy.jpeg"
            alt=""
          />
          <p class="img_copy">
            A werewolf devouring a woman, France, 19th-century. Wikimedia
            Commons
          </p>
        </div>
      </div>

      <!-- citations row -->
      <div class="row mt-5">
        <div class="col">
          <div id="citations">
            CITATIONS:
            <p>
              <span id="britannica">
                1. Britannica, T. Editors of Encyclopaedia (2010, August 19).
                lycanthropy. Encyclopedia Britannica.
                https://www.britannica.com/science/lycanthropy
              </span>
              <span id="historyCom">
                2. Editors, H. (2021, October 28). Werewolf Legends. Retrieved
                from HISTORY.com:
                https://www.history.com/topics/folklore/history-of-the-werewolf-legend
              </span>
              <span id="historyColl">
                3. Flight, T. (2018, May 14). 12 'Real' Werewolf Cases
                Throughout History. Retrieved from History Collection:
                https://historycollection.com/12-real-werewolf-cases-throughout-history/
              </span>
              <span id="4">
                4. Editors, H. (2021, October 28). Werewolf Legends. Retrieved
                from HISTORY.com:
                https://www.history.com/topics/folklore/history-of-the-werewolf-legend
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <nav>
      <ul>
        <li><a href="/home">home</a></li>
        <li><a href="/images">images</a></li>
        <li><a href="/entertainment">entertainment</a></li>
        <li><a href="/devs">devs</a></li>
      </ul>
    </nav>
  </div>

  <%- include('partials/footer.ejs') %>
</body>
