<%- include('partials/header.ejs')  %> 

    <body id="legendsPage">
        <div class='container_fluid' id="legends_image_container">
            <h1 class='p-4'>Legends</h1>
            <nav>
                <ul>
                    <li><a href="/home">home</a></li>
                    <li><a href="/images">images</a></li>
                    <li><a href="/entertainment">entertainment</a></li>
                    <li><a href="/devs">devs</a></li>
                </ul>
            </nav>
        </div>
        
<%- include('partials/footer.ejs')  %> 